tr th,
tr td{
    border: 1px solid #949292;
}

.card-sesion{
    position: relative;
}

.card-form-login{
    position: absolute;
    top: 0rem;
    width: 100%;
    height: 100%;
    background: #f6f9ffe8;
    z-index: 10;
    display: flex;
    justify-content: center;
    padding: 2rem;
}